@model EmployeeViewModel;

@{
	ViewData["Title"] = "Edit";
}

<h1>Department Edit</h1>



<form asp-action="Edit" method="post">

    <Partial name="PartialViews/createEditePartialViews" />


    <input type="submit" value="update" class="btn btn-primary" /> ||

    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
