@model department
@{
    ViewData["Title"] = "Delete";
}

<h1>are sure to delete the department ??</h1>

<form asp-action="Delete">


    <div class="form-group">
        <div asp-validation-summary="All"></div>
        <label class="col-form-label"> Code</label>
        <input asp-for="Code" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="col-form-label"> Name</label>
        <input asp-for="Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class=" col-form-label">DateOfCreation </label>
        <input asp-for="DateOfCreation" class="form-control" readonly />

    </div>

    <input type="submit"  value="Delete" class="btn btn-denger" />  ||
    <a asp-action="index" class=" bnt btn-secondary"> Cancel</a>
</form>
